---
---

<div>
  <p>
    Here are a few reasons why you will love this template:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Full Stack Developer.</strong>
      Extensive knowlegde and experience with <a href="https://astro.build" target="_blank">Astro</a> and <a href="https://tailwindcss.com">Tailwind</a>.
    </li>
    <li>
      <strong>SEO oriented.</strong>
      All my projects are created with SEO in mind to achieve the highest position in searches.
    </li>
    <li>
      <strong>Mobile dev too.</strong> With the responsiveness and poliedric nature of <a href="http://reactnative.dev" target="_blank" >React Native</a>, i can build all kinds of mobile experiences.
    </li>
    <li>
      <strong>Cybersecurity oriented.</strong> all of my works are made to not have security flaws (sql injection, CSRF , XSS etc..)
    </li>
    <li>
      <strong>My projects are all near Perfect or Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> I also do web writing servicies writing meaningful content using markdown
      (<code>.md</code>).
    </li>
    <li>
      <span>
        <strong>Extended experience</strong> with 
        <a href="https://markdoc.dev">Markdoc</a> and how to integrate it with web framweorks(blogs, portolios etc.).
      </span>
      <span>
        you can take a look at my project by visiting my <a href="/projects">projects</a> tab!
    </li>
    <li>
      Contact me at anthonygiuliano2acc@gmail.com
    </li>
  </ul>
</div>
