---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Anthony Gerardo Giuliano
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hello! I am a web developer with years of experience
      in various technologies such as React, Gatsby and Hugo
      and also newer ones like 
      <a href="http://astro.build" target="_blank" rel="noopener noreferrer">AstroJS</a>(the technology behind this site!) 
      and Svelte. I also am very fond of cybersecurity and have participated
      in various CTFs(Capture-The-Flag) and competitions throughout the years
      such as <a href="https://cyberchallenge.it/" target="_blank">CyberChallenge.IT</a>.
      Currently I am also part of the Cybersecurity team of the University of Salerno.

    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">Web Developer. Cybersecurity Expert.</code>
    </p>
  </div>
</section>
